# -*-mode:ruby-*- vim:ft=ruby

# ~/.Brewfile
# =============================================================================
# Project dependencies installed using `brew bundle` or `~/dotfiles.sh`.
#
# See https://github.com/Homebrew/homebrew-bundle

tap "adoptopenjdk/openjdk"
tap "buo/cask-upgrade"
#tap "eugenmayer/dockersync"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"

brew "asdf"                                 # Extendable version manager
brew "chezmoi"
brew "colordiff"                            # Colour-highlighted diff output
brew "direnv"                               # Directory specific env variables
brew "geoip"                                # Geographic IP lookup
brew "gnupg"                                # GNU privacy guard
brew "htop"                                 # Interactive system-monitor
brew "mkcert"
brew "openssl"
brew "postgresql", restart_service: true    # PostgreSQL RDBMS
brew "readline"
brew "rsync"                                # File transfer and sync tool
brew "sqlite3"
brew "travis"                               # Travis CI client
brew "wget"                                 # Web content downloader
brew "xz"
# brew "yarn"                                 # Yarn package manager for Nodejs
brew "zlib"                                 # Lossless data-compression library
#brew "eugenmayer/dockersync/unox"           # Docker sync daemon
brew "heroku/brew/heroku"                   # Heroku CLI
{{- if eq .chezmoi.os "linux" }}
cask "pass"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# Mac Specific tools:

tap "microsoft/git"

brew "telnet"

cask "android-platform-tools"               # Android SDK platform-tools
cask "android-studio"
cask "barrier"
cask "clocker"
cask "git-credential-manager-core"
cask "intellij-idea"
cask "iterm2"
#cask "font-dejavusansmono-nerd-font-mono"   # DejaVu Sans Mono Nerd Font
#cask "font-firacode-nerd-font"              # Fira Code Nerd Font
#cask "font-hack-nerd-font-mono"             # Hack Mono Nerd Font
#cask "font-meslo-nerd-font-mono"            # Meslo Mono Nerd Font
#cask "font-sourcecodepro-nerd-font-mono"    # Source Code Pro Mono Nerd Font
cask "microsoft-teams"
cask "powershell"                           # Cross-platform shell
cask "sourcetree"
cask "rectangle"
cask "zoom"
{{- end }}
